@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html,
body {
  height: 100vh;
  width: 100vw;
  font: 14px Ubuntu;
  color: #333;
  background: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.options-container {
  display: grid;
  grid-template-columns: auto-fit 1fr;
  grid-gap: 1em;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2em 3em;
}

h1 {
  grid-column: 1 / 3;
  margin: 0 0 0.5em;
  font-weight: normal;
  text-align: center;
  padding-bottom: 0.6em;
  border-bottom: 1px solid #ccc;
}

label {
  margin: 0.5em 0;
  text-align: right;
  font-weight: bold;
}

input {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input:focus {
  outline: none;
  border-color: #50a6ff;
  box-shadow: 0 0 5px #50a6ff5c;
}

button {
  grid-column: 1 / 3;
  cursor: pointer;
  padding: 1em 0;
  margin: 2em 0 0;
  background: #2ecc40;
  border: none;
  border-radius: 3px;
  color: #fff;
  transition: all 0.3s;
  line-height: 1em;
}

button:hover,
button:focus,
.button-dark {
  outline: none;
  background: #24bc2e;
}

#success {
  display: none;
}

.fadeIn {
  animation: fadeIn 0.8s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
